root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true
dotnet_style_operator_placement_when_wrapping = beginning_of_line
# end_of_line = crlf

[*.{json,config,xml,csproj,esproj,resx}]
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false
